/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&family=Raleway:wght@300..700&display=swap');

/* VARIABLES */
:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9); 
    --primary-500: rgba(255, 51, 51, 0.5); 
    --primary-300: rgba(255, 51, 51, 0.3); 
    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);
    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);
    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif; 

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;    
    --spacing-68: 6.8rem;    
    --spacing-36: 3.6rem;    
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;    
    --spacing-12: 1.2rem;    
    --spacing-8: 0.8rem;
}

/* RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}


ul, ol {
    list-style-type: none;
}
p { 
    font-size: var(--font-small); /* 1.8em=18px */
}
img{
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
header, footer{
background-color: var(--dark-bg-solid);
gap: var(--spacing-36);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-36) var(--spacing-68);
}
.navbar__logo {
    max-width: 300px;
}
.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);

}
.navbar__link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background 0.3s ease-in-out;
    position: relative;
    
}
.navbar__link:hover{
    color:var(--primary-900)
}

.banner{
    padding: var(--spacing-128) var(--spacing-68);
    background-image:url(img/funkos-banner\ 1.png);
    background-repeat: no-repeat;
    width: 100%;
}

.banner article{
    color: var(--light-font-solid);
}

.banner article h3{
    font-size: var(--font-large);
}

.banner article a{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    background-color: var(--light-bg-solid);
    margin-top: var(--spacing-20);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: var(--spacing-12);
}

.collection{
    display: grid;
    grid-template-columns: 55% 45%;
}

.collection article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:left;
    padding: var(--spacing-68);
}
.collection h3{
    font-size: var(--font-jumbo);
}
.collection hr{
    margin-top: var(--spacing-20);
    border-color: var(--primary-solid);
}
.collection a{
    text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: var(--light-bg-solid);
    background-color: var(--dark-bg-solid);
    margin-top: var(--spacing-20);
    padding: var(--spacing-12);
    width: 33%; 
    border-radius: var(--spacing-12);
}

.product{
    padding: var(--spacing-28);
}
.product .cuotas{
    color: var(--secondary-solid);
}

.product-row{
    display: grid;
    grid-template-columns: 34% 33% 33%; 
    padding: var(--spacing-68);
}

.new-container{
    display: flex;
    justify-content: end;
}
.product .new{
    display: flex;
    justify-content: center;
    width: 20%;
    color: white;
    padding: var(--spacing-8);
    background-color: #FF3333;
}

.releases-title{
    text-transform: uppercase;
    padding-left: var(--spacing-68);
    font-size: var(--font-large);
}

footer ul{
    font-size: var(--font-medium);
}
footer ul li:hover{
    color:var(--primary-900)
}
.copyright{
    display: flex;
    justify-content: center;
    padding-bottom: var(--spacing-20);
}

.shop{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
}
.filter-box{
    padding: var(--spacing-68);
}

.filter-box h2, .filter-box input, .filter-box select, .filter-box option{
    margin-bottom: var(--spacing-8);
}

.filter-box input{
    height: var(--spacing-28);
    padding: var(--spacing-8);
    border-radius: var(--spacing-8);
}

.filter-box .order select{
    height: 4rem;
    padding: var(--spacing-8);
    border-radius: var(--spacing-8);
}

.filter-box .price{
    display: flex;
    flex-direction: row;
    width: var(--spacing-8);
    align-items: center;
}

.filter-box .price input{
    margin: var(--spacing-8);
    width: var(--spacing-68);
}

.item-checkbox{
    display: flex;
    align-content: center;
}

.item-checkbox label{
    padding-top: var(--spacing-8);
    text-transform: uppercase;
}



.container .pages{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages button{
    background-color: var(--light-bg-solid);
    width: 5%;
    padding: var(--spacing-12);
    margin: var(--spacing-8);
    border-radius: var(--spacing-8);
    border-color: rgb(196, 192, 192);
}
.pages button:hover{
    cursor: pointer;
    color: var(--primary-solid);
    border-color: var(--primary-solid);
    
}